<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282946785314-jutrmcpolqeqirsj2r5bqc96l6intpka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282946785314-jutrmcpolqeqirsj2r5bqc96l6intpka</string>
	<key>API_KEY</key>
	<string>AIzaSyC2QGiEDp_XsqnGXGq7wSHzknTwgpcuzaM</string>
	<key>GCM_SENDER_ID</key>
	<string>282946785314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mardi.life</string>
	<key>PROJECT_ID</key>
	<string>mardi-1a984</string>
	<key>STORAGE_BUCKET</key>
	<string>mardi-1a984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282946785314:ios:6df19c310a3fe5e4</string>
	<key>DATABASE_URL</key>
	<string>https://mardi-1a984.firebaseio.com</string>
</dict>
</plist>