<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>mardi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mardi</string>
				<string>fb1513457468801059</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>FacebookAppID</key>
	<string>1513457468801059</string>
	<key>FacebookDisplayName</key>
	<string>mardi</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>mardi에서 아바타 및 배경화면 등록을 위해 카메라 접근을 요청합니다.</string>
	<key>NSLocationAlwaysUsageDescription </key>
	<string>mardi에서 푸시 메세지를 보내기 위해서 위치 정보를 요청합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>mardi에서 푸시 메세지를 보내기 위해서 위치 정보를 요청합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>mardi에서 음성 컨텐츠를 녹음하기 위해 마이크 접근을 요청합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>mardi에서 아바타 및 배경화면 등록을 위해 사진첩 접근을 요청합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>mardi에서 아바타 및 배경화면 등록을 위해 사진첩 접근을 요청합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSans-Bold.ttf</string>
		<string>SpoqaHanSans-Regular.ttf</string>
		<string>BradleyHandITCTT-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
